*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-flex{
    display: flex;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 1.5em;
}

nav{
    display: none;
}

header{
    background-color: rgba(159, 21, 171, 0.578);
    padding-top: 16px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}

header li {
    list-style: none;
    color: white;
    display: inline;
}

nav{
    text-align: center;
    background-color: rgba(137, 43, 226, 0.331);
    justify-content: space-between;
    
}

.menu{
    padding: 16px;

}

header li a{
    color: white;
    text-decoration: none;
    padding: 2px 12px;
    font-size: 1.2em;
    border: 2px solid transparent;
}

header li a:hover{
    border: 2px solid white;
    border-radius: 12px;
}

header img{
    width: 70px;
    padding: 3px;
    border: 2px solid white;
    border-radius: 50%;
}

.hamburguer{
    width: 32px;
    cursor: pointer;
    padding-right: 8px;
}


.hamburguer span{
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}


#sobre img{
    max-width:  320px;
    margin-right: 24px;
}

#sobre{
    padding: 32px;
}

h2{
    padding: 16px 4px;
    border-bottom: 4px solid rgba(137, 43, 226, 0.331);
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(137, 43, 226, 0.605);
}

#sobre p {
    padding: 44px 0;
    font-size: 1.1em;

}

.conteudo{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
}


.conteudo article{
    border: 4px solid rgba(137, 43, 226, 0.331);
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 20px;
    max-width: 100%;
}

.conteudo article:hover{
    background-color: rgba(137, 43, 226, 0.13);
}

.conteudo img{
    max-width: 100%;
    border-radius: 15px;
}

#produto{
    margin-bottom: 32px;
}

h3{
    font-size: 1.4em;
    margin-bottom: 24px;
    font-weight: bold;
}

.conteudo p{
    font-size: 1.1em;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

.conteudo button{
    font-size: 1.2em;
    font-weight: bold;
    background-color:rgba(137, 43, 226, 0.605) ;
    width: 100%;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.conteudo button:hover{
    background-color:rgba(137, 43, 226, 0.929) 
}

@media screen  and (min-width:641px) and (max-width: 1024px){
    
    #sobre img {
            max-width: 100%;
    }


    .container-flex{
            display: block;
    }

    .conteudo{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 2%;
    }

    #sobre p{
        font-size: 32px;
    }

    h2{
        font-size: 36px;
    }

    #venda{
        padding: 32px;
    }

    header li a{
        font-size: 28px;
    }

    header > .container {
        font-size: 32px;
    }

    .hamburguer{
        width: 42px;

    }
    
    .hamburguer span{
        height: 4px;
    }

    h3{
        font-size: 28px;
    }
    
    .conteudo p{
        font-size: 24px;
    }
    
    .conteudo button{
        font-size: 24px;

    }
}

@media screen and (max-width: 640px) {
    #sobre img {
        max-width: 100%;
    }


    .container-flex{
        display: block;
    }

    .conteudo{
        display: block
    }

    #venda{
        padding: 32px;
        padding-top: 0;
    }

    #sobre{
        padding-bottom: 0;
    }

    #sobre p{
        padding-bottom: 16px;
    }

    header > .container {
        font-size: 20px;
    }

    header img{
        width: 50px;
    }

}



